<h2>書籍詳細画面</h2>

<div class="p-5">
<p>基礎情報</p>
<table>
  <tr>
      <th>ISBN</th>
      <th>書籍名</th>
      <th>著者</th>
      <th>出版社</th>
      <th>所在図書館</th>
  </tr>

    <tr>
        <td> <%= @book.isbn %></td>
        <td> <%= @book.name %></td>
        <td> <%= @book.author %></td>
        <td> <%= @book.publisher %></td>
        <td> <%= @book.library %></td>
    </tr>
</table>
</div>

<div class="p-5">
<p>貸出情報</p>
<table>
  <tr>
      <th>貸出中</th>
      <th>貸出日</th>
      <th>返却期限</th>
      <th>借主</th>
  </tr>
  <tr>
      <td> <%=  %></td>
      <td> <%=  %></td>
      <td> <%=  %></td>
      <td> <%=  %></td>
    </tr>

</table>
</div>
