<h2>書籍編集画面</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@book,url: "/bookmanage/#{@book.id}/edit/",method: :post) do |f| %>
      <div class="form_group pt-4 pb-3">
      <%= f.label :isbn %>
      <%= f.text_field :isbn,placeholder:"isbn" %>
      </div>

      <div class="form_group pt-4 pb-3">
      <%= f.label :name %>
      <%= f.text_field :name,placeholder:"書籍名" %>
      </div>

      <div class="form_group pt-4 pb-3">
      <%= f.label :author %>
      <%= f.text_field :author,placeholder:"著書名" %>
      </div>
            
      <div class="form_group pt-4 pb-3">
      <%= f.label :publisher %>
      <%= f.text_field :publisher,placeholder: "出版社" %>
      </div>

      <div class="form_group pt-4 pb-3">
      <%= f.label :library %>
      <%= f.text_field :library,placeholder: "所蔵図書館" %>
      </div>

      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>