<h2>書籍登録画面</h2>
    
    <% @book.errors.full_messages.each do |message| %>
      <div class = "form-error text-danger">
        <%=message %>
      </div>
    <%end%>

    <%= form_for(@book,url: {controller: :my_app,action: :registration_success},method: :post) do |f| %>

      <div class="form_group pt-4 pb-3">
      <%= f.label :isbn %>
      <%= f.text_field :isbn,placeholder: "ハイフンなしの13桁のISBN" %>
      </div>

      <div class="form_group pt-4 pb-3">
      <%= f.label :name %>
      <%= f.text_field :name,placeholder:"書籍名" %>
      </div>

      <div class="form_group pt-4 pb-3">
      <%= f.label :author %>
      <%= f.text_field :author,placeholder:"著書名" %>
      </div>
            
      <div class="form_group pt-4 pb-3">
      <%= f.label :publisher %>
      <%= f.text_field :publisher,placeholder: "出版社" %>
      </div>

      <div class="form_group pt-4 pb-3">
      <%= f.label :library %>
      <%= f.fields_for :library do |g| %>
          <%= g.collection_select(:library, @libraries, :library, :library, {:include_blank => true}) %>
      </div>
      
      <%= f.submit "登録", class: "btn btn-success" %>
    <% end %>
<%end%>