<h2>貸出登録画面</h2>

<hr>
<h4>貸出日</h4>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@lend,url: {controller: :my_app,action: :lend_registration_success},method: :post) do |f| %>
      <div class="form_group pt-4 pb-3">
        <%= f.label :lenddate %>
        <%= f.date_select :lenddate,selected: Date.today,start_year: 2020, end_year: 2022%>
      </div>

      <h4>貸出ユーザー</h4>
        <%= f.fields_for :user_ids do |g| %>
          <%= g.collection_select(:user_id, @users, :id, :id, {:include_blank => true}) %>
      <%= f.submit "貸出登録", class: "btn btn-success" %>
      <%end%>
    <% end %>
  </div>
</div>



<hr>

<h4>貸出対象図書</h4>
<p><%= @book.isbn %></p>
<p><%= @book.name %></p>
<p><%= @book.author %></p>

