<h2>貸出図書一覧</h2>

<table>
  <tr>
      <th>ISBN</th>
      <th>書籍名</th>
      <th>著者</th>
      <th>所在図書館</th>
      <th></th>
  </tr>

    <% @books.each do |book| %>
    <tr>
        <td> <%= book.isbn %></td>
        <td> <%= book.name %></td>
        <td> <%= book.author %></td>
        <td> <%= book.library %></td>
        <td>
        <%= link_to("返却", "/bookmanage/#{book.id}/return" , method: :get)%>
         </td>
    </tr>
    <% end %>
</table>

</form>
