<h2>書籍編集画面</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user,url: "/bookmanage/#{@user.id}/user_edit/",method: :post) do |f| %>
      <div class="form_group pt-4 pb-3">
      <%= f.label :username %>
      <%= f.text_field :username,placeholder:"氏名" %>
      </div>

      <div class="form_group pt-4 pb-3">
      <%= f.label :userbirthday %>
      <%= f.text_field :userbirthday,placeholder:"生年月日" %>
      </div>

      <div class="form_group pt-4 pb-3">
      <%= f.label :useraddress %>
      <%= f.text_field :useraddress,placeholder:"住所" %>
      </div>

      <%= f.submit "登録", class: "btn btn-success" %>
    <% end %>
  </div>
</div>