<!DOCTYPE html>
<html>
  <head>
    <title>MyTestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <meta charset="UTF-8">
    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  <header>
  
  <nav class="navbar navbar-expand-lg bg-warning fixed-top">
  <a class="text-white navbar-brand ml-1" href="/bookmanage/top/">図書管理システム</a>
        <div id="main">
          <ul class="menu">
            <div class="text-center">
              <li>貸出処理
                <p><span class='fa fa-exchange-alt fa-4x'></span></p>
                <ul class="sub">
                    <li><a href="/bookmanage/book_search/">貸出処理</a></li>
                    <li><a href="/bookmanage/return_book_list/">返却処理</a></li>
                    <li><a href="/bookmanage/return_book_list/">貸出リスト</a></li>


                </ul>
              </li>
              <li>書籍管理
                  <p><span class='fa fa-book fa-4x'></span></p>
                <ul class="sub">
                    <li><a href="/bookmanage/show_exist/">書籍一覧</a></li>
                    <li><a href="/bookmanage/book_registration/">新規書籍登録</a></li>


                </ul>
              </li>
              <li>
                  書籍検索
                <p><span class="fas fa-search fa-4x"></span></p>
                <ul class="sub">
                  <li><a href="/bookmanage/book_search/">書籍検索</a></li>

                </ul>
              </li>

              <li>
                ユーザー管理
                <p><span class="fas fa-address-book fa-4x"></span></p>
                <ul class="sub">
                  <li><a href="/bookmanage/user_registration/">ユーザー登録</a></li>
                  <li><a href="/bookmanage/user_show/">ユーザー一覧</a></li>
                </ul>
              </li>

                
                <li>
                  図書館管理
                  <p><span class="fas fa-landmark fa-4x"></span></p>
                  <ul class="sub">
                    <li><a href="/bookmanage/library/">図書館管理</a></li>

                  </ul>
                </li>
            </div>
          </ul>
        </div>
        <p><a class="text-white navbar-brand ml-2"><small>図書管理システム</small></a></p>
        </nav>
</header>

<div class="container m-1 ml-5">
  <span class="col-12">
         <%= yield %>
  </span>
</div>
  </body>
  <footer class="background-color text-white bg-warning pl-5 p-1">
  <p>my_app © 2021 - 2021</p>
  </footer>
</html>
